@import "scss/reset";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
@import "scss/theme-colors";

body {
  background-color: $primary-color;
  background-image: $gradient;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}