@import "../../scss/theme-colors";

h2 {
  
  @media (min-width: 992px) {
    font-size: 2.4rem;
    text-align: left;
  }
}

form {
  margin: 0 auto;
  width: 90%;
  @media (min-width: 992px) {
    width: 70%;
    text-align: left;
  }
}

.form-inputs {
  margin: 14px 0 22px 0;
  label {
    display: block;
    margin-bottom: .5rem;
    text-align: left;
    font-size: 1.6rem;
  }
  input {
    display: block;
    border: 1px solid #ddd;
    width: 100%;
    padding: 6px 10px;
    border-radius: 4px;
  }
}

.btn {
  margin-top: 20px;
  border: none;
  padding: 12px 24px;
  background-color: $accent-color;
  color: #fff;
  font-weight: bold;
}

.exercises {
  @media (min-width: 992px) {
    margin-top: 50px;
  }
}